

.card{
    background-color:#16213E;
    width:550px;
    /* height: 554px; */
    border-radius: 30px;
    display: flex;
    font-family: 'Prompt', sans-serif;
    flex-direction: column;
    transition-property:all;
    transition-duration:175ms;
}
.card:hover{
    background-color: #233462;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card:hover > .infobox{
    background-color: #3e558a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.cardtop{
    display: flex;
    justify-content: space-between;
   
}
.rigth{
    margin:27px;
}
.cardtitle{
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding-top: 26px;
}

.tagnparty{
    display: flex;   
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom:16px;
    margin-left:56px;
    margin-right: 56px;
    padding: 0;
}
.partysize{
    color:white;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
}
.tagsize{
    display: flex;
    margin-left: 0px;

    
}

.time{
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 37px;
}

.topic{
    font-size: 16px;
    font-weight: 700;
    margin-left: 52px;
    margin-bottom: 10px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    margin-left: 52px;
}   
.infobox{
    background-color: #2B3B64;
    color: white;
    width: 463px;
    height: 121px;
    border-radius: 30px;
    align-self: center;
    margin-bottom: 35px;
    padding: 18px;
    transition-property: all;
    transition-duration: 175ms;


}

.tag{
    background-color: #FFC814;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.cardimage{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: contain;
}

.imagebox{
    width:463px;
    height:212px;
    border-radius: 30%;
    align-self: center;

}
.cardbackground{
    background-color:red;
    width: 100vw;
    height: 100vh;
}

.info{
    font-size: 20px;
    font-weight: 400;
    /* padding:18px; */
    margin: 0;
    /* height: 100%; */
    word-wrap: break-word;
    word-break: normal;
    position: relative;
    overflow: hidden;
    line-height:26px;
    max-height: calc(24.2px * 3);
    text-align: justify;
    /* padding-right: 1em; */
    /* font-family: "Inter", sans-serif !important; */
    
}



