.base{
    background-color: #0F172D;
    align-content: flex-start;
    width: 1060px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:20px;
    padding-bottom:20px;
}

.objectcard{
    display: flex;
    align-self: center;
    width: fit-content;
    height: fit-content;
    margin:15px;
}
