.profilebox{
    width: 200px;
    background-color: white;
    margin: 0%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    align-items: center;
    padding: 9px;
    position: absolute;
    right: 0px;
    z-index: 10;
}
.imagebox{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
}
.image{
    border-radius: 50%;
    object-fit:fill ;
    width: 100%;
    height: 100%;
}
.username{
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    color: black;
}
.logout{
    background-color: #E94560;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size:15px;
    margin-top: 37.45px;
    margin-left: 98px;
    display: flex;
    justify-content: center;
    padding-left:16px ;
    padding-right:16px ;
}

.close{
    width: 20px;
    height:20px;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    margin-right:8px;
    margin-left:160px ;
}